<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      /* placeholder for later */
    </style>
  </head>
  <body>
    <h1>Welcome to Blocipedia!</h1>
    <p>You are our newest member <%= @user.name %>, we promise it won't suck!</p>
  </body>
</html>
